body {
  font-family: sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.highlighted {
  color: black !important;
}

input {
  padding:2px;
  margin:10px;
}

div {
  cursor:pointer;
}

.button {
  padding:2px;
  display:inline;
  font-size: 1.25em;
  border: 3px solid black;
  border-radius:10px;
}

.game-wrapper {
  width: 100%;
}

.center-div {
  margin:0 auto;
}

.rounded-border {
  width: 275px;
  border: 4px solid black;
  border-radius:13px;
}

.category {
  font-size: 2em;
}

.option {
  margin:10px auto;
  padding:10px 0;
  width:275px;
}
.options-container {
  text-align: center;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}




.test{
  display:inline-block;
}

.card-block{
/*  width:200px;
  height:150px;*/
  /*padding:20px 40px;*/
}

.board{
  width:800px;
  height:450px;
}

div:focus {
    outline:none;
}

.red {
  background-color: red;
}

.gray {
  color:gray;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.selected {

}

.cards.ng-enter,
.cards.ng-leave,
.cards.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.cards.ng-enter,
.cards.ng-move {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.cards.ng-move.ng-move-active,
.cards.ng-enter.ng-enter-active {
  opacity: 1;
  height: 120px;
}

.cards.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.cards.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}
/*.make-fat{
  padding:200px 150px;
}*/