<!-- PARTIAL?  -->
<div class="game-wrapper" tabindex="0" ng-keypress="hotAttemptSet($event)">
  <div ng-show="!optionsPicked" class="options-container">
    <div class="category center-div rounded-border">GAME MODE</div>
    <div>
      <div class="option center-div gray" ng-repeat="option in deckTypes" ng-click="selectDeckType(option.type)" ng-class="{'highlighted':decktype==option.type}">{{option.text}}
      </div>
    </div>
    <div class="category center-div rounded-border">TIME LIMIT</div>
    <div>
      <div class="option center-div gray" ng-repeat="option in timerTypes" ng-click="selectTimerType(option.type)" ng-class="{'highlighted':timer==option.type}">{{option.text}}</div>
    </div>
    <div class="category center-div rounded-border">PLAYERS</div>
    <div class="slider">
      <input type="range" min="1" max="4" ng-init="players=1" ng-model="players"> {{players}}
    </div>
    <div ng-click="goToGame(players)" class="button">PLAY GAME</div>
  </div>


<!-- PARTIALS? -->
  <div ng-show="optionsPicked">
    <span ng-repeat="player in setPlayers" ng-click="attemptSet(player.id)"  class="{{player.color}} ">{{player.text}}</span>
    </br><span ng-repeat="player in setPlayers" class={{player.color}}>{{player.color}} points: {{player.points}}</span>

    <div ng-show="timer!='notimer'">TIME:{{ timer | date: 'mm:ss'}} </div>
    <div>SET ATTEMPT TIMER:{{ attemptTimer[0] | date: 's'}}</div>
    <div class="board">
      <div ng-repeat="card in board track by $index" class="test" ng-class="{'selected':inSelectedCards($index)}"><img class="cards lower" ng-click="selectCard($index)" ng-src="{{card.location}}"></div>
      <div>{{answer[0]}}</div>
    </div>
  </div>
</div>