<div class="game-wrapper" tabindex="0" ng-keypress="hotAttemptSet($event)">
  <div ng-show="!roomJoined">
    <div>{{failureMessage}}</div>
    <div>==========</div>
    <div>
      <div>Room Name</div>
      <input ng-model="roomToHost">
      <div ng-click="hostRoom()">HOST ROOM</div>
    </div>
    <div>==========</div>
    <div>
      <div>JOIN A ROOM</div>
    <div>==========</div>
      <div>ROOM NAME: <input ng-model="roomToJoin"></div>     
      <div ng-click='joinRoom()'>JOIN ROOM</div>
    </div>
  </div> 

  <div ng-show="roomJoined">
    <div ng-repeat="player in setPlayers" class="{{player.color}} player-button" ng-show="player.active">{{player.display}}</div>
    <div ng-click='attemptSetKey()'>ATTEMPT A SET</div>
    <div class="board">
      <div ng-repeat="card in board track by $index" class="test" ng-class="{'selected':inSelectedCards($index)}"><img class="cards lower" ng-click="selectCard($index)" ng-src="{{card.location}}"></div>
      <!-- <div>{{answer[0]}}</div> -->
      <div ng-show="timer!='notimer'">TIME:{{ timer | date: 'mm:ss'}} </div>
    </div>
  </div>
</div>