<div class="game-wrapper" tabindex="0" ng-keypress="hotAttemptSet($event)" ng-init="init()">
  <div ng-show="!roomJoined" class="room-enter">

    <div>Finding an opponent!</div>
        <div>{{failureMessage}}</div>
  </div> 

  <div ng-show="roomJoined">
    <div ng-repeat="player in setPlayers" class="{{player.color}} player-button" ng-show="player.active">{{player.display}}</div>
    <div ng-click='attemptSetKey()' class="green player-button">ATTEMPT A SET</div>
    <div class="board">
      <div ng-repeat="card in board track by $index" class="test" ng-class="{'selected':inSelectedCards($index)}"><img class="cards lower" ng-click="selectCard($index)" ng-src="{{card.location}}"></div>
      <div>{{answer[0]}}</div>
    </div>
  </div>
</div>