<!DOCTYPE html>
<html>
<head>
  <title>NotSetApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="http://quiet-journey-3472.herokuapp.com/socket.io/socket.io.js"></script>
  <%= csrf_meta_tags %>
</head>
<body ng-app='notSetApp'>

<%= yield %>

</body>
</html>
